{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'CSS/forgotpassword.css' %}">
  <title>Forgot Password</title>
</head>
<body>

<div class="header">
  <div class="logo">
    <a href="{% url 'TimeIn_TimeOut' %}" class="logo-link">
      <img src="{% static 'images/Patsborn1.png' %}" alt="Logo" />
      <div class="site-name"><strong>PatsBron</strong></div>
    </a>
  </div>
</div>

  <div class="verification-box">
    <h1>Forgot Password</h1>

    <form method="POST" action="{% url 'send_verification_code' %}">
      {% csrf_token %}
      <input type="email" name="email" id="email" placeholder="Enter your email" required>
      <button type="submit">Send Code</button>
    </form>

    {% if messages %}
      {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    
  </div>
</body>
</html>
