body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #911c1c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    box-sizing: border-box;
  }

  .header img {
    height: 150px;
  }

  .header h1 {
    color: white;
    flex: 1;
    padding-right: 19%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .main-box {
    background-color: #db9704;
    border-radius: 15px;
    width: 150%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 1rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
  }

  .column {
    flex: 1;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .divider {
    width: 2px;
    height: 100%;
    background-color: white;
    margin: 0 1rem;
  }

  .column h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .photo-box {
    width: 200px;
    height: 320px; /* or 350px if the body is cut off */ 
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  
  

  .details {
    font-size: 0.9rem;
    color: white;
    text-align: left;
    width: 80%;
  }

  .input-bar {
    background-color: white;
    width: 80%;
    max-width: 700px;
    height: 40px;
    border-radius: 10px;
    margin-top: 2rem;
  }